<div class="background primary">
  <div class="watchlist-navbar">
    <div class="logo">
      <%= image_tag "logo.png" %>
      <div>
        <p>Grab your</p>
        <p class="centered">Popcorn</p>
      </div>
    </div>
    <%= link_to "New watchlist", new_list_path, class:"btn btn-primary" %>
  </div>

  <div class="content-container">
    <h1>Looking for a good movie to watch?</h1>
    <p>Welcome to GrabYourPopcorn.com, your ultimate guide for anything movie-related!</p>
    <p>Feel free to browse through the recommandations or create your own watch list.
    <h3 id="highlight">Suggestions</h3>
    <div class="container-fluid cards-container">
      <div class="row text-center flex-nowrap">
        <% @lists.each do |list| %>
          <%= link_to list_path(list.id), class: "link" do %>
            <div class="col-3 list-card mr-3" style="background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : image_url('cinema.jpeg') %>)">
              <h5 class="card-title text-center align-center"><%= list.name %></h5>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
