<div class="banner" style="background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(<%= @list.photo.attached? ? cl_image_path(@list.photo.key) : image_url('cinema.jpg') %>)">
  <%= render "shared/navbar" %>
  <div class="banner-content">
    <h1><%= @list.name %></h1>
    <%= link_to "Add a movie", results_list_path(@list.id), class: "btn btn-primary" %>
  </div>
</div>

<div class="container movies">
  <div class="row">
  <% @bookmarks.each do |bookmark| %>
    <% movie_id = bookmark.movie_id %>
    <% movie = Movie.find(movie_id) %>
    <div class="movie-card mt-3" data-aos="fade-up">
      <img src="<%= movie.poster_url %>" class="card-img-top" alt="poster">
      <div class="movie-card-body">
        <h5><%= movie.title %></h5>
        <p><%= movie.overview %></p>
        <div class="flex-card-div mt-3">
          <p class="muted"><i class="fas fa-quote-left"></i> <%= bookmark.comment %></p>
          <%= link_to bookmark_path(bookmark.id), method: "delete" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>
