<%= @list.name %>
<%= link_to "Add a movie", new_list_bookmark_path(@list.id) %>

<div class="container">
<div class="row">
<% @bookmarks.each do |bookmark| %>
  <% movie_id = bookmark.movie_id %>
  <% movie = Movie.find(movie_id) %>
    <div class="col-sm-12 col-lg-6">
    <div class="card mb-3 movie-card">
      <img src="<%= movie.poster_url %>" class="card-img-top" alt="poster">
      <div class="card-body">
        <h5 class="card-title"><%= movie.title %></h5>
        <p class="card-text"><%= movie.overview %></p>
        <p class="card-text"><small class="text-muted"><%= bookmark.comment %></small></p>
        <button class="btn btn-primary"><%= link_to "Delete", bookmark_path(bookmark.id), method: "delete" %></button>
      </div>
    </div>
    </div>
<% end %>
</div>
</div>
