<div class="banner" style="background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(<%= image_path @list.img_url %>);">
  <div class="watchlist-navbar">
    <div class="logo">
      <%= image_tag "logo.png" %>
      <div>
        <p>Grab your</p>
        <p class="centered">Popcorn</p>
      </div>
    </div>
    <%= link_to "Home", root_path, class:"btn btn-primary" %>
  </div>
  <h1><%= @list.name %></h1>
  <%= link_to "Add a movie", new_list_bookmark_path(@list.id) %>
</div>

<div class="container">
  <div class="row">
  <% @bookmarks.each do |bookmark| %>
    <% movie_id = bookmark.movie_id %>
    <% movie = Movie.find(movie_id) %>
      <div class="movie-card-container">
        <div class="movie-card">
          <img src="<%= movie.poster_url %>" class="card-img-top" alt="poster">
          <div class="movie-card-body">
            <h5><%= movie.title %></h5>
            <p><%= movie.overview %></p>
            <p class="text-right mt-2"><i class="fas fa-quote-left"></i> <%= bookmark.comment %></p>
            <button class="btn btn-primary"><%= link_to "Delete", bookmark_path(bookmark.id), method: "delete" %></button>
          </div>
        </div>
      </div>
  <% end %>
</div>
</div>
