<div class="banner" style="background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(<%= @list.photo.attached? ? cl_image_path(@list.photo.key) : image_url('cinema.jpg') %>)">
  <%= render "shared/navbar" %>
  <div class="banner-content">
    <h1><%= @list.name %></h1>
    <div id="comment" class="container my-2">
      <p><%= @list.comment %></p>
      <%= link_to "Add a movie", results_list_path(@list.id), class: "btn btn-primary mt-2" %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <% @movies.each do |movie| %>
      <div class="col-lg-3 col-md-4 col-sm-6 py-3 d-flex align-items-stretch justify-content-center">
        <div class="card">
          <img src="<%= movie.poster_url %>" class="card-img-top" alt="poster">
          <div class="card-body">
            <h5 class="card-title"><%= movie.title %></h5>
            <div class="flex-card-div mt-3">
              <%= link_to movie_path(movie.id), method: "delete" do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
